<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="theme-color" content="#000000" />

        <title>Dairy Management</title>
        <link rel="stylesheet" href="/css/materialize.css"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/css/index.css"/>

    </head>
    <body>
        <nav class="navbar">
            <div class='header-container nav-wrapper white'>
                <a href="/">
                    <span class="black-text flow-text" style="">DAIRY MANAGEMENT SYSTEM</span>
                </a>
                <div class="right">
                    <a class="btn waves-effect waves-light right round-border"  href="/customers/add">Add Customer</a>
                    <a style="margin-right: 10px;" class="btn waves-effect waves-light right round-border"  href="/customers/1">Anonymous Transaction</a>
                    <a style="margin-right: 10px;" class="btn waves-effect waves-light right round-border"  href="/customers">Customer List</a>
                </div>
            </div>
        </nav>