<%- include('./partials/header') %>
        <div class="container center" style="display: flex; flex-direction: column;">
            <span class="" style="font-size:10rem;color: #b3e5f7;">404</span>
            <div>
                <h5 class="" style="color: #424242;">Oops! Page not found!</h5>
                <h6 class="" style="color: #424242; margin-bottom: 1.5rem;">You seem to have found a dead link.</h6>
                <a href="/" class="btn-small light-blue lighten-1 round-border" >HOME Page</a>
            </div>
        </div>
    </body>
</html>